# 🔐 Секреты (Самое важное!)
.env

# 🐍 Python (Временные файлы, которые создает сам язык)
__pycache__/
*.py[cod]
*$py.class

# 📦 Виртуальное окружение (Оно весит много и на сервере создается заново)
.venv/
env/
venv/

# 🗃 База данных (Обычно локальную базу не пушат, чтобы не затереть серверную)
*.db

# ⚙️ Настройки IDE (Твои личные настройки PyCharm)
.idea/
.vscode/